body {
	
}
#heading h2 {
	background-color: white;
	margin:0;
	height:50px;
}

#header-nav {
  background-color: #41a171;
  border-radius: 0;
  border: 0;
  text-shadow: 1px 1px 1px #222;
}
.navbar-brand {
  padding-top: 25px;
}


.navbar-brand h1 { /* Restaurant name */
  font-family:  serif;
  color: #557c3e;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin: auto;
  margin-bottom: 0;
  line-height: .75;
}
.menu-item-title {
	font-size: 1,6em;
	font-weight: bold;
	padding-top: 10px;

}

#chicken , #beef , #sushi  {
  
  width: 100%;
  text-align: center;
  
  
  background-color: #21f165;
  color: #035309;
  margin-bottom: 20px;	

}



h4.menu-item-title {
  margin: 0 0 10px;
  text-align: center;
}
.menu-item-detail {
  font-size: 20px;
  font-style: italic;
}
#header-nav #collapse-nav #nav-list li:nth-of-type(odd)
{
	background-color: #e1e1e1;
}
#header-nav #collapse-nav #nav-list li:nth-of-type(even)
{
	background-color: #e1F3e1;
}

@media  (min-width: 992px) {
	#heading h2 {
		font-size: 30px;
		font-weight: bold;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
	#heading h2 {
		font-size: 25px;
		font-weight: bold;
	}
}

@media  (max-width: 767px) {
	#heading h2 {
		font-size: 18px;
		font-weight: bold;
	}

}
